/* CSS RESET - START */
html {
  font-size: 10px;
  font-family: Arial, 'Times New Roman';
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS RESET - END */

body {
  font-size: 1.5em;
}

input, hr, button {
  border: 1px solid black;
}

#add-deck-input, #card-front-input, #card-back-input {
  margin: 10px;
}

#deck-list, #card-list {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  height: 200px;
  width: 400px;
}

#deck-list-meta, #card-list-meta, .deck, .card {
  display: flex;
  justify-content: space-between;
}

#deck-list-body, #card-list-body {
  display: flex;
  flex-direction: column;
}